body {
  margin: 0;
  background-color:rgb(12, 14, 14);
  color: white;
 font-family: Georgia, 'Times New Roman', Times, serif;
 flex-wrap: nowrap;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
